@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(../fonts/ProximaNova-Medium.woff2) format('woff2');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    src: url(../fonts/ProximaNova-Semibold.woff2) format('woff2');
  }
}

@tailwind utilities;

@layer base {
  html {
    font-family: 'Proxima Nova', system-ui, sans-serif;
  }
}

@layer components {
  .h-modal {
    height: calc(100% - 2rem);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #ff4500;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
      transition: background .3s ease-in-out;
    }
  }
}