@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(../fonts/ProximaNova-Medium.woff2) format('woff2');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    src: url(../fonts/ProximaNova-Semibold.woff2) format('woff2');
  }
}

@tailwind utilities;

@layer components {
  .h-modal {
    height: calc(100% - 2rem);
  }

  input[type='range'] {
    background-size: 0% 100%;
    background-repeat: no-repeat;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #ff4500;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }
  }

  .bg-primary {
    @apply bg-gradient-to-r from-orange-500 to-red-500 text-white;
  }
}

@layer base {
  :root {
    font-family: 'Proxima Nova', system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply dark:bg-theme-dark-4 dark:text-white;
  }
}
